body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

header {
    background-color: #000;
    color: #fff;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center center;
    filter: grayscale(70%);
}

h1 {
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: -2px 2px 1px black;
    text-align: center;
}

#about-me .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    padding: 20px;
    align-items:center;
}

#about-me h2 {
    font-size: 2rem;
}

#about-me img {
    align-items: end;
}

#services .wrapper {
    background-color: #fafafa;
    padding: 30px;
}

#services h2 {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    padding: 2.5rem;
}

#services div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#services h3 {
    font-size: 1.5rem;
    margin: 0;
}

#services article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btn {
    padding: 10px 15px;
    background-color: black;
    color: white;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
}

.btn:hover:hover, .btn:hover:hover:focus {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

#work {
    text-align: center;
}

#work .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    padding: 40px;

    grid-template-areas: 
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div5 div5"
    ;
}

#work h2 {
    font-size: 2.5rem;
}

#work .wrapper {
    align-items: center;
}

.grid img:nth-child(1) {
    grid-area: div1;
    width: 100%;

}

.grid img:nth-child(2) {
    grid-area: div2;
    width: 100%;
}

.grid img:nth-child(3) {
    grid-area: div3;
    width: 100%;
}

.grid img:nth-child(4) {
    grid-area: div4;
    width: 100%;
}

.grid img:nth-child(5) {
    grid-area: div5;
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}
